.main
  %h2 
    %p Acerca de:
    %p
      Así que por fin quieres  ser un mejor ciudadano: 
      Una guia independiente.

  %h2
    %p Ideado y codificado por:
    %p Rogelio Zárate
 
  %p
    Comparte en:
    Twitter Faceebook G+

  %p
    %a{:href => '/'}>¿Quieres volver a las frases?

  %p Disclaimer
  
  %p Copyright

  %p "#{Time.now}"