%h2 
  %p MOCKUP
  %p 
    Así que por fin quieres  ser un mejor ciudadano. 
    Por qué no comienzas con:

%h1
  %p "#{@quote}"

%p
  Comparte en:
  Twitter Faceebook G+

%p
  Quien y por que

%p Copyleft

%p "#{Time.now}"