.main
  %p 
    %h2 
      Así que por fin quieres  ser un mejor ciudadano. 
    %h3 
      (Y hacer pólitica de pasada)
    %h2
      Por qué no comienzas por:

  %h1
    %p #{@quote}

  %a{:href => '/'}>¿Podria ver otra opción, por favor?
  
  %p
    Comparte en:
    Twitter Faceebook G+

  %p
    %a{:href => '/about'}>Acerca de     
    Copyleft
    




